@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Manrope:wght@800&family=Montserrat:wght@400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-background-image: #ee82ee;
    --dark-background-image: #800080;
    --light-added-background-image: #d3d7d9;
    --dark-added-background-image: #00004b;
    --light-added-color: #ffffff;
    --dark-added-color: #303030;
    --neutral-background-image: #ccc;
    --neutral-added-background-image: #ccc;
    --neutral-font-color: var(--light-added-color);
  }
}

.theme-light {
  --background-image: var(--light-background-image);
  --added-background-image: var(--light-added-background-image);
  --added-color: var(--dark-added-color);
}

.theme-dark {
  --background-image: var(--dark-background-image);
  --added-background-image: var(--dark-added-background-image);
  --added-color: var(--light-added-color);
}

.neutral-theme {
  --background-image: var(--neutral-background-image);
  --added-background-image: var(--neutral-added-background-image);
  --added-color: var(--neutral-font-color);
}
